{% extends 'layout.html' %}

{% block content %}
<h2 class="mt-5 text-center"> 회원가입 </h2>
<form name="join-form" id="join-form" action="/auth/join" method="post">
    <div class="row p-4 border border-5 border-dark main" style="margin-top:18px">
        <div class="col-2 text-end pe-3 mb-4">
            이메일
        </div>
        <div class="col-10 mb-4">
            <input type="email" name="email" id="email" class="form-control" placeholder="이메일" />
        </div>
        <div class="col-2 text-end pe-3 mb-4">
            닉네임
        </div>
        <div class="col-10 mb-4">
            <input type="text" name="nick" id="nick" class="form-control" placeholder="닉네임" />
        </div>
        <div class="col-2 text-end pe-3 mb-4">
            비밀번호
        </div>
        <div class="col-10 mb-4">
            <input type="password" name="password" id="password" class="form-control" placeholder="비밀번호" />
        </div>
        <div class="col-2 text-end pe-3 mb-4">
        비밀번호 확인
        </div>
        <div class="col-10 mb-4">
            <input type="password" name="repassword" id="repassword" class="form-control" placeholder="비밀번호확인" />
        </div>
        <button type="submit" class="btn btn-outline-dark join-btn">회원가입</button>               
    </div>
</form>
{% endblock %}